body {
    background-color: aqua;
}

.submitStyleOne {
    height:200px;
    width:200px;
}

.submitStyleTwo {
    height:100px;
    width:100px;
}

.submitStyleThree {
    height:50px;
    width:50px;
}

.fat {
    text-transform: capitalize;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}